

body{
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    width: 150px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FD6E0A;

font-size: 20px;
font-weight: 700;
color: #FFF;

}
/* nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px ;
}
.nav-logo{

    color: #181818;

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li,a{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
    color: #474747;
}

/* header */

.header{

    background-color:  #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile_pic{
    width: 584px;
     height: 676px;
}